#app {
  
  .popper {
    background-color: $popper-theme-background-color !important;
    color: $popper-theme-text-color !important;
    border-width: $popper-theme-border-width !important;
    border-style: $popper-theme-border-style !important;
    border-radius: $popper-theme-border-radius !important;
    padding: $popper-theme-padding !important;
    box-shadow: $popper-theme-box-shadow !important;
  }

  

}